body {
    padding-top: 20px;
    background: #e9ebee;
    margin: 33px;
}
footer {
    margin-top: 100px;
}
table, td, th {
    vertical-align: middle;
    border: none;
}
th {
    border-bottom: 1px solid #DDD;
}
label {
    /*width: 30%;*/
    width: 100%;
    float: left;
}
input, textarea {
    width: 100%;
}
footer {
    background-color: #b3b3ff;
    padding: 30px 0;
}
.field {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
}
.rate-icon {
    width:30px;
    margin: 0px 15px;
}
.navbar-brand {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.head-item-1st, .head-item-2nd {
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif;
}
.color-white {
    color: #fff;
}
.float-right {
    float: right;
}
.form-group {
    display: table;
    width: 100%;
}
.checkbox, .checkbox label {
    padding: 0px !important;
}
.idea_picture {
    width:100%;
}
.logo-icon {
    width: 55px;
    margin-top: -10px;
    float: left;
    padding-right: 15px;
}
#head-navbar {
    background: #4267b2;
}
.wh {
    color: #fff;
}
.active {
    background-color: #3b5da0;
}
.left-item {
    list-style: none;
    width: 180px;
    padding: 8px; cursor: pointer;
}
.left-item a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.left-item-active, .left-item:hover {
    border-radius: 3px;
    margin: 2px; background: #f6f7f9;
    border: 1px solid #dddfe2;
}
.item-img {
    float: left;
    width: 20px;
    margin-right: 10px;
}
.idea-title {
    font-size: 20px;
    line-height: 40px;
    padding: 0px 20px;
}
.idea-title img {
    width: 40px;
    float: left;
    margin: 0px 15px;
}
.idea-img a{
    margin: 15px;
}
.idea-img img {
    width: 80%;
    padding: 15px;
    margin: auto 10%;
}
.idea-img p {
    margin: 0px 15px;
}
.idea-btn {
    margin: 0;
    border-top: 1px solid #e5e5e5;
}
.btn {
    border: none;
    padding:10px;
    background-color: transparent;
    float: left;
}
.btn:hover {
    background-color: #b3b3ff;
    text-decoration: none;
}
.btn a:hover {
    text-decoration: none;
    background: transparent;
    color: #666;
}
.btn img {
    width: 20px;
    margin: 0px 10px;
}
.block {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
}
.mini {
    display: inline-block;
}
.navlink {
    color: #fff;
    margin: 0px 15px;
}
.navlink:visited {
    color: #fff;
}
.ava {
    width: 30px !important;
}
.dropdown-menu>ul>li:hover {
    background-color: #f8f9fa;
}
.dropdown-menu ul {
    padding:0;
    margin:0;
    list-style: none;
}
.dropdown-menu ul li {
    padding: 10px 20px;
    cursor:pointer;
}
.mini>p>img {
    width:20px;
    margin: 0px 15px;
    padding:0;
}
#dropdownMenuButton:hover, #dropdownMenuButton:active, #dropdownMenuButton:visited {
    color: #fff;
}
.dropdown-item {
    display: block;
}
.dropdown-item:hover {
    background-color: transparent;
    color: #666;
    text-decoration: none;
}
.btn2 {
    background-color: #428bca;
}
.background-b3b3ff {
    background-color: #b3b3ff !important;
}
.abc {
    width: 200px;
}
.action {
    padding: 0 15px;
}
#filediv {
    width: 70%;
    float: right;
}
#myCarousel {
    text-align: center;
    font-size: 25px;
}
.slide-img {
    width: 100%;
}
#left-menu, #right-menu {
    position: fixed;
    padding: 0;
}
#left-menu>ul {
    padding: 0;
    padding-top: 50px;
}
.rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}
.stars {
    margin: 0;
}
.star {
    font-size: 7px;
}
.padding0 {
    padding: 0px;
}
.navbar-brand {
    color: white !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.logo-img {
    width: 55px;
    margin-top: -10px;
    float: left;
    padding-right: 15px;
}
.head-item-1st, .head-item-2nd {
    font-family: Helvetica, Arial, sans-serif;
    color: white !important;
}
.icon {
    color: #df5a48;
}
.head-dropdown {
    margin: 5px;
}
.head-dropdown-ul {
    padding:0;
    margin:0;
    list-style: none;
}
.head-dropdown-ul li{
    padding: 10px 20px;
    cursor:pointer;
}

.left-item {
    position: relative;
}
.left-item a {
    position: absolute;
    left: 40px;
}
.idea-img {
    padding: 15px;
}
@media (max-width:992px) {
    #right-menu {
        display: none !important;
    }
}
